body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aquamarine;
}
h1 {
    color: blue;
    font-weight: bold;
}
.result{
    font-weight:bold;
    color:aqua;
}