@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Han Wang's ITC172 Final Project</h1>
    <p class="lead">This is for Han's ASP.NET Class Final Project</p>
    
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

